*{
margin: 0px;
padding: 0px;
}
.menu-container{
    background-color: rgb(56, 3, 3);
padding: 20px;
display:flex;
list-style-type: none;
color: white;
justify-content: space-around;
align-items: center;
cursor: pointer;
}
.logo{
    width: 90px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding: 7px;
    font-size:large;
} 
.item:hover{ color: aqua;}
.banner-container{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 100vh;
    align-items: center;
    background-image: url(https://www.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_4326138.htm#query=plain%20white%20background&position=0&from_view=keyword&track=ais),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53))
}
.pic{
    width: 200px;
}
.title{

    font-size: 55px;
    font-weight: bold;
}
.descrip{

    font-size: 18px; 
    margin-top: 5px;
    margin-bottom:5px;
}
.bts{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} 
.bts:hover{
    color:blue;
}
.us{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    padding-top: 30px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    padding: 10px;
}
.change{
    width: 400px;
}
.vir{font-size: 55px;

font-weight: bolder; padding-bottom: 20px;

}
.pi{
    font-size: 32px;
}
.but{ padding: 10px 20px;
    background-color: blue;
border: none;  
border-radius: 10px; 
cursor: pointer;
}
.but:hover{color: cyan;}
.box{
    width: 230px;
height: 230px;
box-shadow: 4px 10px 15px gray;
background-color: black;
color: white;
padding: 15px;
text-align: center;
}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}
.web{
    padding: 15px;
}
.web-det{
    padding: 15px;
font-size: 16px;
}
.service-container{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
   height: 100vh;
    padding: 20px;
    background-image: url(https://www.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_4326138.htm#query=plain%20white%20background&position=0&from_view=keyword&track=ais),linear-gradient(50deg,#2e2626,#493636);
}